:root {
  --blue: hsl(212, 100%, 50%);
  --theme-icon: hsl(217, 20%, 51%);
  --active-theme-icon: hsl(217, 21%, 21%);
  --text: hsl(217, 35%, 45%);
  --bold-text: hsl(217, 21%, 21%);
  --stats-menu: hsl(227, 100%, 98%);
  --container-background: hsl(0, 0%, 100%);
  --background: hsl(227, 100%, 98%);
}
